@using Makkest.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found">
                <h1>Not Found</h1>
                <MudButton Href="/" Variant="Variant.Filled" Color="Color.Primary">Return Home</MudButton>
            </div>
        </LayoutView>
    </NotFound>
</Router>